@import 'mixins';

// .entertainment-button{
// 	@include category-button;
// 	color: $entertainment-color;
// }

.card{
	text-align: left;
	border: none;
	
	.card-body{
		padding: 0;
		margin: 0;
	}

}

h4 {
	@include h4;
}

.eventlist-location{
	@include p14;
	color: $entertainment-color;
	width: 6em;
	border-bottom: 3px solid $secondary-color;
	padding-bottom: 1em;
}

h3{
	@include h3;
}

.like{
	text-align: right;
	letter-spacing: 0.4em;
}

.p-eventlist-description{
	@include p16;
	color: $secondary-color;
	margin-top: 1.5em;
}

.readmore{
	@include p14;
	color: $secondary-color;
}

.category-noborder{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	position: relative;
	.event-icon-group{
		position: absolute;
		display: flex;
		justify-content: space-between;
		padding: 0 0.75em;
		bottom: 0;
		right: 0;
	}
	i{
		display: block;
		color: white;
		font-size: 1.2em;
		margin: 0 0.5em;
	}

}
.featured-card{
	// border:1px red solid;
	background-size:cover;
	background-position: center;
	margin-top: .8em;
	width:100%;
	box-shadow: -1px 13px 24px -16px rgba(0,0,0,0.43);
}

.homepage-container{
	position: relative;

	.filter-button{
		position: absolute;
		z-index: 100;
		top:2.5em;
		right: 1.5em;
		display: block;
		height: 2em;
		border: none;
		&:focus{
			border: none;
			outline: none;
		}
		

		i{
			margin-top: 0;
		
		}
	}
}

.event-info{
	.event-title{
		text-align: left;
		color: white;
		font-size: 1.1em;
	}
	.event-details-btn{
		display: inline;
		color: white;
		border: none;
		padding: 0.25em 0.75em;
		margin: 0;
		font-size: 0.85em;
		border-radius: 0.5em;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		&:focus{
			outline:none;
			border: none;
		}
	}
	.event-price{
		color: white;
		font-weight: 700;
	}
}