@import 'mixins';

// .entertainment-button{
// 	@include category-button;
// 	color: $entertainment-color;
// }

.card{
	text-align: left;
	border: none;
	
	.card-body{
		padding: 0;
		margin: 0;
	}

}

h4 {
	@include h4;
}

.eventlist-location{
	@include p14;
	color: $entertainment-color;
	width: 6em;
	border-bottom: 3px solid $secondary-color;
	padding-bottom: 1em;
}

h3{
	@include h3;
}

.like{
	text-align: right;
	letter-spacing: 0.4em;
}

.p-eventlist-description{
	@include p16;
	color: $secondary-color;
	margin-top: 1.5em;
}

.readmore{
	@include p14;
	color: $secondary-color;
}

.category-noborder{
	i{
		padding-left: 1em;
		color: white;
		font-size: 1.2em;
	}
}
.featured-card{
	border:1px red solid;
	background-size:cover;
	background-position: center;
	margin-top: .8em;
	width:100%;
}

.homepage-container{
	position: relative;

	.filter-button{
		position: absolute;
		z-index: 100;
		top:3em;
		right: 1.5em;
		display: block;
		height: 2em;
		border: none;
		&:focus{
			border: none;
			outline: none;
		}
		

		i{
			margin-top: 0;
		
		}
	}
}