$font-stack: 'Apple SD Gothic Neo';
$primary-color: #8400d1;
@import 'mixins';

.container {
	text-align: center;
}

.logo {
	width: 80%;
	max-width: 20em;
	margin: 8em auto;
}

.email-contents {
	.welcome {
		font-family: $font-stack;
		letter-spacing: 0.1em;
	}

	input {
		border: 1.5px lightgrey solid;
		width: 74%;
		height: 3em;
		background-color: #f8f8f8;
	}

	#Username-input {
		border-top-left-radius: 0.7em;
		border-top-right-radius: 0.7em;
		border-bottom: 0.5px;
	}

	#Password-input {
		border-bottom-left-radius: 0.7em;
		border-bottom-right-radius: 0.7em;
	}

	::placeholder {
		font-size: 0.8em;
		padding-left: 1em;
		color: grey;
	}

	p {
		font-size: 0.8em;
		color: grey;
		margin-left: 42%;
		// margin-left: 11.4em;
		margin-top: 0.5em;
	}
}

.btn {
	background-color: $primary-color;
	color: white;
}


.btn-purple{
	background-color: $primary-color !important;
	color: white !important;
	padding: 0.5em 6em;
	font-weight: 500;
	letter-spacing: 1px;
	border: $primary-color;
	border-radius: 22px;
	margin-top: 2em;
}
.guestlogin {
	color: grey;
	font-size: 0.8em;
}

.alert {
	color: gray;
}
.notice-for-signup {
	font-size: 0.6em;
	margin-top: 2em;
	

	p {
		margin-bottom: 0;
		color: gray;
	}
	.red-text {
		color: red;
	}
}

.space {
	border-bottom: 1px solid gray;
	width: 2em;
	height: 1em;
	margin: 1em auto;
}

.guestlogin {
	margin-top: 0.3em;
}

.home-footer {
	display: flex;
	justify-content: space-between;
}
