$font-family: "Raleway", sans-serif;
$primary-color: #8400d1;

@import "mixins";

.container {
  overflow-y: scroll !important;
}
header {
  text-align: left;
}

.page-name {
  text-transform: capitalize;
}

.fa-arrow-left {
  font-size: 1.3em;
}

.wrapper {
  text-align: center;
}

.signup-contents {

  .signup-contents-input {
    border: thin lightgrey solid;
    height: 3.5em;
    width: 74%;
    background-color: #f8f8f8;
    padding: 0.5em;
  }
  ::placeholder {
    font-size: 0.8em;
    padding-left: 1em;
    color: grey;
  }
}

.btn {
  background-color: $primary-color;
  color: white;
  padding: 1em 3.4em;
  border-radius: 29px;
  margin-top: 3em;
  letter-spacing: 0.1em;
}

label {
  @include h4;
}

.form-control2 {
  width: 100%;
}
.purple-button{
  background-color: #8400d1 !important;
	color: white !important;
	padding: 1em 3em;
	font-weight: 500;
	letter-spacing: 1px;
	border: $primary-color;
	border-radius: 28px;
}

