.container {
  overflow-y: scroll !important;
}

header {
  text-align: left;
}

.page-name {
  text-transform: capitalize;
}

.fa-arrow-left {
  font-size: 1.3em;
}

.wrapper {
  text-align: center;
}

.signup-contents .signup-contents-input {
  border: thin lightgrey solid;
  height: 3.5em;
  width: 74%;
  background-color: #f8f8f8;
  padding: 0.5em;
}

.signup-contents ::placeholder {
  font-size: 0.8em;
  padding-left: 1em;
  color: grey;
}

.btn {
  background-color: #8400d1;
  color: white;
  padding: 1em 3.4em;
  border-radius: 29px;
  margin-top: 3em;
  letter-spacing: 0.1em;
}

label {
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: left !important;
}

.form-group {
  text-align: left !important;
}

button {
  background-color: white !important;
  color: black !important;
}
