$font-family: 'Raleway', sans-serif;
$primary-color: #8400d1;


.container{
	overflow-y: scroll !important;
}
header{
	text-align: left;
}



.page-name{
	text-transform: capitalize;

}

.fa-arrow-left{
	font-size: 1.3em;
}

.wrapper{
	text-align: center;	
}

.signup-contents {
	// display: flex;
	// flex-wrap: wrap;
	// width: 91%;

	.signup-contents-input {
		border: thin lightgrey solid;
		height: 3.5em;
		width: 74%;
		background-color: #F8F8F8;
		padding: 0.5em;
	}
	::placeholder {
		font-size: 0.8em;
		padding-left: 1em;
		color: grey;
	}
}

.btn {
	background-color: $primary-color;
	color: white;
	padding: 1em 3.4em;
	border-radius: 29px;
	margin-top: 5.5em;
	letter-spacing: 0.1em;
}

label{
    @include h4;
    text-align: left !important;
}

.form-group{
    text-align: left !important;
}

button{
    background-color: white !important;
    color: black !important;
}