$font-family: 'Montserrat', sans-serif;

.userpage-info{
    a{
        text-align: left;
    }

    // border: thin green solid;
}


.user-list{
    .fas{
        text-align: left;
    }
    font-family: $font-family;
  .userpage-details{
    //   border: thin red solid;
      padding: .5em;
      margin: .5em 0;
      text-align: left;
      line-height: 1.5em;
      border-radius: .5em;
    //   border-bottom: thin grey solid;
    box-shadow: -1px 13px 24px -16px rgba(0,0,0,0.43);

  }

  .edit-platform{
      display: flex; 
      flex-direction: row-reverse;
      margin-bottom: .3em;
  }
  .user-delete{
      margin-left: 1em;
  }

  .far{
      font-size: 1.2em;
  }

}