@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$primary-color: #2d2b88;
$secondary-color: #333;
$entertainment-color: #6236ff;
$wellbeing-color: #519607;
$sport-color: #0091ff;
$flood-color: #fa6400;
$misc-color: #e02064;
$font-family: "Raleway", sans-serif;

@import 'mixins';
@import 'login';
@import 'signup'; 
@import 'homepage';
@import 'eventslist';
@import 'addevent';
@import 'editevent';
@import 'userList';
@import 'menu';
@import 'category-filter';


@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css";

.container {
  height: 100vh;
  display: flex;
  border: 0;
  flex-direction: column;
  margin: 0;
  padding: 1em 2em;
  box-sizing: border-box;
  overflow: hidden;

  @include  header-categoryies-style();
  
    .header{
        flex:0 0 auto;
    }
    .main{
        flex:1 1 auto;
        overflow-y:scroll;
        margin-bottom: 4em; 
        ::-webkit-scrollbar {
            width: 0px; 
            background: transparent;
        }

    }

    footer{
        width: 100vw;
        padding: 1.5em;
        position: absolute;
        z-index: 10;
        background-color: white;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        i{
            font-size: 1.5em;
        }
    }
  a {
    color: black;
  }
}